<article class="book">
  <div class="book__gallery">
    <div class="tile">{{{bookCover}}}</div>
  </div>
  <div class="book__info">
    <h1 class="book__title">{{{bookTitleHtml}}}</h1>
    {{{bookAuthor}}}
    {{{bookContributors}}}
    <div class="book__buy">
      {{{bookPrice}}}
      {{{bookBuy}}}
    </div>
    <section class="book__description" aria-labelledby="description-title">
      <h2 class="label" id="description-title">Description</h2>
      <div class="prose">
{{{bookDescription}}}
      </div>
    </section>
  </div>
</article>
